

version: '3.8'

services:
  db:
    container_name: parkngo_db
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: threads
      POSTGRES_PASSWORD: threads
    volumes:
      - db_data_parkngo:/var/lib/postgresql/data
volumes:
  db_data_parkngo:
